@using Infnet.Pos.Tcc.Application.ViewModels
@using NonFactors.Mvc.Grid
@model NonFactors.Mvc.Grid.IGrid<GrupoQuestaoViewModel>

@{
    ViewData["Title"] = SharedLocalizer["{0} - {1}", "Grupo de Questão", "Listar"];
}

<h1>@ViewData["Title"]</h1>
<hr/>

<partial name="_CrudIndexHeader"/>
@(new HtmlGrid<GrupoQuestaoViewModel>(Html, Model))
