@using Infnet.Pos.Tcc.Application.ViewModels
@using NonFactors.Mvc.Grid
@model NonFactors.Mvc.Grid.IGrid<AvaliacaoViewModel>

@{
    ViewData["Title"] = SharedLocalizer["{0} - {1}", "Avaliações", "Listar"];
}

<h1>@ViewData["Title"]</h1>
<hr />

<partial name="_CrudIndexHeader" />
@(new HtmlGrid<AvaliacaoViewModel>(Html, Model))