@using Infnet.Pos.Tcc.Application.ViewModels
@using NonFactors.Mvc.Grid
@model NonFactors.Mvc.Grid.IGrid<TurmaProfessorViewModel>

@{
    ViewData["Title"] = SharedLocalizer["{0} - {1}", "Professores das Turmas", "Listar"];
}

<h1>@ViewData["Title"]</h1>
<hr />

<partial name="_CrudIndexHeader" />
@(new HtmlGrid<TurmaProfessorViewModel>(Html, Model))